//
//  KEYFRAME :: TEXT SCROLL
//
@keyframes rat_select_text_scroll {
    70% {
        margin-left: -30px;
    }
    100% {
        margin-left: -30px;
    }
}
@-webkit-keyframes rat_select_text_scroll {
    70% {
        margin-left: -30px;
    }
    100% {
        margin-left: -30px;
    }
}