
// PLUGIN :: SEARCH
// ––––––––––––––––––––––––––––––

@keyframes rat_select_spinner {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(179deg);
    }
    100% {
        transform: rotate(179deg);
    }
}
@-webkit-keyframes rat_select_spinner {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(179deg);
    }
    100% {
        transform: rotate(179deg);
    }
}
.rat-select.theme-#{$theme-name} .select-label {
    input.dropdown-search {
        width: calc(100% - 20px);
        margin: 5px 10px;
        padding: 4px 8px;
        display: block;
        border: 1px solid lighten($color-dark, 65%);
        outline: 0;
        border-radius: $border-radius;
        transition: border 142ms linear;
        box-shadow: none;
    
        &:hover {
            border-color: lighten($color-dark, 55%);
        }
        &:focus {
            border-color: $color-primary;
        }
    }
    .dropdown-spinner {
        width: 100%;
        height: 60px;
        position: relative;
        text-align: center;
    
        &:before,
        &:after {
            top: 50%;
            left: 50%;
            content: "";
            display: block;
            position: absolute;
            border-radius: 50%;
            border-width: 3px;
            border-style: solid;
            border-color: transparent $color-dark transparent $color-dark;
            animation: rat_select_spinner 1s infinite ease-in-out 0ms;
            -webkit-animation: rat_select_spinner 1s infinite ease-in-out 0ms;
        }
        &:before {
            width: 36px;
            height: 36px;
            margin: -18px 0 0 -18px;
        }
        &:after {
            width: 20px;
            height: 20px;
            margin: -10px 0 0 -10px;
            animation-direction: reverse;
            -webkit-animation-direction: reverse;
        }
    }
}
